RewriteEngine On

RewriteBase /
RewriteCond $1 !^(index\.php|ui|css|js|img|fonts|module|robots\.txt)
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

#RewriteRule ^/user/(.*)$ https://%{HTTP_HOST}%/index.php/user/$1 [L]
RewriteRule ^(.*)$ /index.php/$1 [L]

php_value max_input_vars 2000