.googleSignupBtn {
  display: inline-block;
  background: #cc3732;
  color: white;
  width: 115px;
  border-radius: 5px;
  cursor:pointer;
}
.googleSignupBtn:hover {
  background: #e74b37;
  cursor: hand;
}
.googleSignupBtn span.label {
  font-weight: bold;
}
.googleSignupBtn span.icon {
  background: url('/img/common/icon/btn_google_red.png') transparent 10px 50% no-repeat;
  display: inline-block;
  vertical-align: middle;
  width: 40px;
  height: 34px;
}   
.googleSignupBtn span.buttonText {
  display: inline-block;
  vertical-align: middle;
  padding-left: 10px;
  padding-right: 10px;
}